---
import Layout from '../layouts/Layout.astro';
import AchievementsDetailsCard from '../components/achievements/AchievementsDetailsCard.astro';
import achievements from '../assets/achievements.png';
import ProjectsArchiveCards from '../components/achievements/ProjectsArchiveCards.astro';
---

<style>
  .bgimg {
    background: url('../assets/achievementsbg.svg') no-repeat bottom !important;
  }
</style>

<!-- <script>
    const items = ["Dog", "Cat", "Platypus"];
</script> -->

<Layout title="Achievements & Projects | GDSC MPSTME">
  <main>
    <div class="md:pb-9 md:pt-5 bgimg">
      <div class="container mx-auto max-sm:px-4">
        <div class="lg:flex justify-center md:mt-10 xl:mx-44">
          <div
            class="bg-[#e9d1fe] rounded-[25px] p-8 flex flex-col justify-between leading-normal"
          >
            <div class="grid md:grid-cols-3 items-center justify-center">
              <div class="">
                <img class="" src={achievements} alt="" srcset="" width="300" />
              </div>
              <div class="mb-8 md:col-span-2">
                <div
                  class="text-gray-900 font-bold text-5xl mb-2 max-sm:text-center"
                >
                  Achievements & Projects
                </div>
                <p
                  class="text-gray-700 text-base max-sm:text-center max-sm:mt-6"
                >
                  As a club, we have always strived to bring excellence in our
                  work. The fruit of which comes through the winnings from
                  different competitions that members of the GDSC have taken
                  part in. Take a look at some of our most memorable wins! Also,
                  while you're at it check out snippets and more details about
                  our projects, see their source-code and see what makes them
                  unique!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-[#c8e6c9]">
      <div class="md:pb-12 md:pt-1">
        <div class="container md:mx-auto max-sm:px-6">
          <div class="mt-8 md:mt-5 xl:mx-44">
            <div class="text-[#498AF4] font-bold text-xl">
              Achievements Archive
            </div>
            <div class="text-gray-900 font-bold text-[34px] mb-[35px]">
              Successful, Memorable Achievements So Far
            </div>

            <div
              class="grid md:grid-cols-3 gap-x-4 items-center justify-center"
            >
              <AchievementsDetailsCard />
              <AchievementsDetailsCard />
              <AchievementsDetailsCard />
            </div>
          </div><div class="mt-8 md:mt-16 xl:mx-44">
            <div class="text-[#498AF4] font-bold text-xl">Projects Archive</div>
            <div class="text-gray-900 font-bold text-[34px] mb-[35px]">
              Take a glance at few of our favourite Projects
            </div>

            <div
              class="grid md:grid-cols-3 gap-x-4 items-center justify-center"
            >
              <ProjectsArchiveCards />
              <ProjectsArchiveCards />
              <ProjectsArchiveCards />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="md:pb-12 md:pt-1">
				<div class="container mx-auto max-sm:px-4">
					
				</div>
			</div> -->
    </div>
  </main>
</Layout>

<script>
  import '@lottiefiles/lottie-player';
</script>
