---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact Us | GDSC MPSTME" background="bg-[#E3F2FD]">
  <main
    class="relative flex lg:flex-row flex-col items-center justify-center gap-8 md:gap-20 lg:gap-36 py-24 px-8"
  >
    <img
      src="/decorations/dots-blue.svg"
      alt=""
      class="lg:block hidden absolute top-[50px] right-0"
    />
    <img
      src="/decorations/contact-person.svg"
      alt=""
      class="lg:block hidden absolute top-[150px] left-[70px] w-20"
    />
    <img
      src="/decorations/apple-blue.svg"
      alt=""
      class="lg:block hidden absolute bottom-[170px] left-[200px]"
    />
    <!-- Socials -->
    <section>
      <div>
        <p class="text-[#498af4] text-lg font-medium">
          Queries or suggestions?
        </p>
        <h1 class="text-5xl font-bold mt-1.5 mb-4">Contact Us</h1>
        <p class="text-lg">We're all ears! 👂</p>
      </div>
      <div class="mt-[2.2rem] flex flex-col">
        <a
          href="mailto:dsc.mpstme@nmims.edu.in"
          target="_blank"
          class="text-[#000] flex py-[0.9rem] px-[1.1rem] border border-[#000] rounded items-center hover:bg-[#eef7fe] hover:text-[#396dc1] hover:border-[#396dc1]"
        >
          <img src="/icons/mail.svg" class="hover:fill-[#396dc1] mr-3" alt="" />
          dsc.mpstme@nmims.edu.in
        </a>
        <div class="flex justify-center gap-7 mt-7">
          <a
            href="#"
            class="w-14 h-14 place-items-center grid rounded-full hover:bg-[#498af4]"
            target="_blank"
          >
            <img src="/icons/twitter-grey.svg" alt="" />
          </a>
          <a
            href="#"
            class="w-14 h-14 place-items-center grid rounded-full hover:bg-[#bd3794] hover:fill-white"
            target="_blank"
          >
            <img src="/icons/instagram-grey.svg" alt="" />
          </a>
          <a
            href="#"
            class="w-14 h-14 place-items-center grid rounded-full hover:bg-[#0077b5]"
            target="_blank"
          >
            <img src="/icons/linkedin-grey.svg" alt="" />
          </a>
        </div>
      </div>
    </section>

    <!-- Contact Form -->
    <section
      class="bg-[#fff] flex flex-col relative gap-8 py-12 px-8 lg:p-12 rounded-xl w-[100%] lg:w-[500px]"
    >
      <img
        src="/decorations/lines-red.svg"
        class="absolute w-20 top-[-30px] left-[-30px] lg:top-[-40px] lg:left-[-40px]"
        alt=""
      />
      <form>
        <div class="mb-7">
          <input
            type="text"
            id="name"
            name="name"
            class="border border-gray-400 text-black text-md rounded block w-full p-4 placeholder-gray-600"
            placeholder="Name*"
          />
        </div>
        <div class="mb-6">
          <input
            type="email"
            id="email"
            name="email"
            class="border border-gray-400 text-black text-md rounded block w-full p-4 placeholder-gray-600"
            placeholder="Email*"
          />
        </div>
        <div class="mb-6">
          <input
            type="text"
            id="contactNo"
            name="contact"
            class="border border-gray-400 text-black text-md rounded block w-full p-4 placeholder-gray-600"
            placeholder="Contact Number*"
            required=""
          />
        </div>
        <div class="mb-6">
          <input
            type="text"
            id="subject"
            name="subject"
            class="border border-gray-400 text-black text-md rounded block w-full p-4 placeholder-gray-600"
            placeholder="Subject*"
            required=""
          />
        </div>
        <div class="mb-6">
          <textarea
            id="message"
            rows="6"
            name="message"
            class="block border-gray-400 text-black text-md rounded border w-full p-4 placeholder-gray-600"
            placeholder="Message*"></textarea>
        </div>
        <div class="flex place-content-center">
          <button
            type="submit"
            class="text-white bg-[#498AF4] hover:bg-[#2d6dd3] font-medium rounded mt-1 text-sm px-10 py-3"
            >SUBMIT</button
          >
        </div>
      </form>
    </section>
  </main>
</Layout>
