---
import EventDetailed from '../components/EventDetailed.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Events | GDSC MPSTME">
  <main>
    <EventDetailed />
  </main>
</Layout>
