---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero.astro';
import Events from '../components/home/Events.astro';
import AboutUs from '../components/home/AboutUs.astro';
import Social from '../components/home/Social.astro';
---

<Layout title="Home | GDSC MPSTME" background="bg-gdsc-grey-light">
  <main>
    <Hero />
    <Events />
    <AboutUs />
    <Social />
  </main>
</Layout>

<script>
  import '@lottiefiles/lottie-player';
</script>
