---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Events from '../components/Events.astro';
import AboutUs from '../components/AboutUs.astro';
import Social from '../components/Social.astro';
---

<Layout title="Home | GDSC MPSTME" background="bg-gdsc-grey-light">
    <main>
		<Hero />

		<Events />
		
		<AboutUs />

		<Social />

    </main>
</Layout>

<script>
  import '@lottiefiles/lottie-player';
</script>
