---
import WIP from '../components/WIP.astro';
import Layout from '../layouts/Layout.astro';
import { getTeamMembers } from '../utils/fetchData';
import OurTeam from '../components/our-team/OurTeam';

//Fetching Team Members from Strapi
const TeamMembers = await getTeamMembers();

const sortedData = TeamMembers.sort((a, b) => {
  // First, sort by Super Core members
  if (a.department === 'Super Core' && b.department !== 'Super Core') {
    return -1; // a comes before b
  } else if (b.department === 'Super Core' && a.department !== 'Super Core') {
    return 1; // b comes before a
  }

  // Then, sort by Web Dev Department leads
  if (a.department === 'Web Dev' && b.department === 'Web Dev') {
    if (
      a.designation === 'Department Lead' &&
      b.designation !== 'Department Lead'
    ) {
      return -1; // a comes before b
    } else if (
      b.designation === 'Department Lead' &&
      a.designation !== 'Department Lead'
    ) {
      return 1; // b comes before a
    }
  }
  if (
    a.department === 'Web Dev' &&
    b.department != 'Web Dev' &&
    a.designation === 'Department Lead'
  ) {
    return -1;
  } else if (b.department === 'Web Dev' && a.department != 'Web Dev') {
    return 1;
  }

  // Then, sort by all other department leads
  if (
    a.designation === 'Department Lead' &&
    b.designation !== 'Department Lead'
  ) {
    return -1; // a comes before b
  } else if (
    b.designation === 'Department Lead' &&
    a.designation !== 'Department Lead'
  ) {
    return 1; // b comes before a
  }

  if (
    a.department === 'Web Dev' &&
    b.department != 'Web Dev' &&
    a.designation === 'Executive'
  ) {
    return -1;
  } else if (b.department === 'Web Dev' && a.department != 'Web Dev') {
    return 1;
  }
  // If both have same designation and department or are not any of the above categories
  return 0; // no change in order
});
---

<Layout title="Our Team | GDSC MPSTME" background="bg-gdsc-yellow-light">
  <main>
    <OurTeam client:visible OurTeamData={TeamMembers} />
  </main>
</Layout>
