---
import WIP from '../components/WIP.astro';
import Layout from '../layouts/Layout.astro';
import { getTeamMembers } from '../utils/fetchData';
import OurTeam from '../components/our-team/OurTeam';

//Fetching Team Members from Strapi
const TeamMembers = await getTeamMembers();

const priority = {
  'Secretary of Administration and HR': 0,
  'Lead of GDSC MPSTME': 0,
  'Secretary of Projects': 0,
  'Secretary of Operations': 0,
  'Secretary of Club Relations': 0,
  'Department Lead': 1,
  Executive: 2,
};

TeamMembers.sort((a, b) => priority[a.designation] - priority[b.designation]);
console.log(TeamMembers);
---

<Layout title="Our Team | GDSC MPSTME" background="bg-gdsc-yellow-light">
  <main>
    <OurTeam client:visible OurTeamData={TeamMembers} />
  </main>
</Layout>
