---
import Layout from '../layouts/Layout.astro';
import { getTeamMembers } from '../utils/fetchData';
import OurTeam from '../components/team/OurTeam';

const teamMembers = await getTeamMembers();

const isLead = (member: Member) => member.designation === 'Lead of GDSC MPSTME';
const isDepartmentLead = (member: Member) =>
  member.designation === 'Department Lead';
const isSuperCore = (member: Member) => member.department === 'Super Core';

teamMembers.sort((a, b) => {
  // lead comes first
  if (isLead(a)) return -1;
  if (isLead(b)) return 1;

  // followed by super core
  if (isSuperCore(a) && !isSuperCore(b)) return -1;
  if (!isSuperCore(a) && isSuperCore(b)) return 1;

  // followed by department leads
  if (isDepartmentLead(a) && !isDepartmentLead(b)) return -1;
  if (!isDepartmentLead(a) && isDepartmentLead(b)) return 1;

  // everyone at the same level is sorted by name
  return a.name.localeCompare(b.name);
});
---

<Layout title="Our Team | GDSC MPSTME" background="bg-gdsc-yellow-light">
  <main>
    <OurTeam client:load teamMembers={teamMembers} />
  </main>
</Layout>
