---
import Layout from '../layouts/Layout.astro';
import { getTeamMembers } from '../utils/fetchData';
import OurTeam from '../components/team/OurTeam';

const teamMembers = await getTeamMembers();

teamMembers.sort((a, b) => {
  // lead comes first
  if (a.designation === 'Lead of GDSC MPSTME') return -1;
  if (b.designation === 'Lead of GDSC MPSTME') return 1;

  // followed by super core
  if (a.department === 'Super Core') {
    if (b.department === 'Super Core') {
      return a.name.localeCompare(b.name);
    } else {
      return -1;
    }
  }

  if (b.department === 'Super Core') {
    return 1;
  }

  // followed by department leads
  if (a.designation === 'Department Lead') {
    if (b.designation === 'Department Lead') {
      return a.name.localeCompare(b.name);
    } else {
      return -1;
    }
  }

  if (b.designation === 'Department Lead') {
    return 1;
  }

  // followed by executives
  return a.name.localeCompare(b.name);
});
---

<Layout title="Our Team | GDSC MPSTME" background="bg-gdsc-yellow-light">
  <main>
    <OurTeam client:load teamMembers={teamMembers} />
  </main>
</Layout>
