---

import UpcomingDetailed from '../components/UpcomingDetailed.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Upcoming Events | GDSC MPSTME">
  <main>
    <UpcomingDetailed
      date={"18 - 20"}
      color={"#000"}
      month={"F E B"}
      title={"AI Summit"}
      type={"Tech Talk"}
      descr={"Join us as we host industry-experts and top researchers in the field of Artificial Intelligence, Machine Learning and Deep Learning to give you an insight into the world of Artificial Intelligence like no other."}
      imgsrc={"../public/images/untitles-3.png"}
    />
  </main>
</Layout>
