---
---

<section
  id="about-section"
  class="clip-section relative z-10 bg-gdsc-green-light pt-48 overflow-x-hidden lg:pt-0"
>
  <img
    id="globe-decor"
    class="absolute top-48 -right-4 z-10 hidden w-36 lg:block"
    loading="lazy"
    src="/decorations/globe-green.svg"
    alt=""
  />
  <!-- Decor 80 -->
  <div class="pt-10 lg:mb-32">
    <div class="lg:mx-auto lg:w-3/4">
      <p class="pl-10 text-2xl font-bold text-gdsc-blue-dark lg:pt-40">
        About Us
      </p>
      <p class="pl-10 text-4xl font-bold leading-snug tracking-wide">
        What Do We Do?
      </p>
      <div class="m-7 lg:flex">
        <img
          class="mx-auto my-14 w-80 lg:my-auto"
          loading="lazy"
          src="/images/about.gif"
          alt="img"
        />
        <p class="mx-2 mt-8 text-neutral-500 md:mx-16">
          Google Developer Student Clubs are university based community groups
          for students interested in Google developer technologies. Students
          from all undergraduate or graduate programs with an interest in
          growing as a developer are welcome.
          <br />
          <br />
          By joining a GDSC, students grow their knowledge in a peer-to-peer learning
          environment and build solutions for local businesses and their community.
          <br />
          <br />
          GDSC MPSTME was established in 2021, with its humble beginnings from 10
          departments across 6 technical disciplines and flagship events like CodeWars
          2021-22 and AI Summit 2021-22 as its legacy.
        </p>
      </div>
    </div>
    <!-- Activity Cards -->
    <div
      class="mx-8 mt-28 pb-60 md:mx-14 lg:flex lg:justify-center lg:gap-x-10"
    >
      <div class="card">
        <header class="text-center text-2xl font-medium">Competitions</header>
        <div>
          <lottie-player
            autoplay
            loop
            mode="normal"
            loading="lazy"
            class="mx-auto w-2/3 lg:w-auto"
            src="lottie/code.json"></lottie-player>
        </div>
        <p class="mt-10 px-9 text-center">
          As a club, we have always strived to bring excellence in our work. The
          fruit of which comes through the winnings from different competitions
          that members of the GDSC have taken part in. Take a look at some of
          our most memorable wins!
        </p>
      </div>
      <div class="card">
        <header class="mb-5 text-center text-2xl font-medium">Projects</header>
        <div>
          <lottie-player
            autoplay
            loop
            mode="normal"
            loading="lazy"
            class="mx-auto w-2/3 lg:w-auto"
            src="lottie/hackathon.json"></lottie-player>
        </div>
        <p class="mt-5 px-9 text-center">
          Check out snippets and more details about our projects, see their
          source-code and see what makes them unique!
        </p>
      </div>
      <div class="card">
        <header class="mb-5 text-center text-2xl font-medium">Workshops</header>
        <div>
          <lottie-player
            autoplay
            loop
            mode="normal"
            loading="lazy"
            class="mx-auto w-2/3 lg:w-auto"
            src="lottie/workshops.json"></lottie-player>
        </div>
        <p class="mt-5 px-9 text-center">
          Have a look at the statistics of our premier events, which have been a
          beacon of excellence and brought together scores of different
          developers under the same roof.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .card {
    @apply mt-5 rounded-2xl border border-gdsc-green bg-white py-7 lg:max-w-xs;
  }

  .clip-section {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
    margin-bottom: -20vw;
  }
</style>
