---
---

<div
  class="relative flex flex-col place-content-around lg:grid lg:grid-cols-2 lg:pt-14"
>
  <h3
    class="mx-auto mt-10 mb-14 px-5 text-4xl font-semibold text-neutral-500 md:text-5xl lg:my-auto lg:ml-40 lg:text-5xl"
  >
    Google Developer
    <br />
    Student Club, MPSTME.
    <br />
    <div id="ele"><span class="element"></span></div>
  </h3>
  <img
    class="mx-auto mb-8 w-4/5 lg:w-auto"
    src="/images/hero-image.png"
    alt="Hero Image"
  />
  <img
    class="absolute top-20 left-40 hidden w-14 lg:block"
    src="/decorations/hero-yellow.svg"
    alt=""
  />
  <!-- Decor -->
  <img
    class="absolute top-16 left-[50%] hidden w-14 lg:block"
    src="/decorations/hero-green.svg"
    alt=""
  />
  <!-- Decor -->
  <img
    class="absolute top-[78%] left-[45%] hidden w-12 lg:block"
    src="/decorations/hero-red.svg"
    alt=""
  />
  <!-- Decor -->
  <img
    class="absolute -bottom-80 -left-40 z-20 hidden w-96 lg:block"
    src="/decorations/floating-girl.png"
    alt=""
  />
  <!-- Decor -->
</div>

<script>
  import Typed from 'typed.js';

  const color = ['#a5d6a7', '#ef9a9a', '#FFe082'];

  var options = {
    strings: ['A committee', 'A society', 'A family'],
    typeSpeed: 40,
    backSpeed: 40,
    backDelay: 1600,
    smartBackspace: false,
    loop: true,
    preStringTyped: (arrayPos, self) => {
      document.getElementById('ele').style.color = color[arrayPos];
    },
  };

  var typed = new Typed('.element', options);
</script>
