---
import InputField from './InputField.astro';
---

<section
  class="bg-[#fff] flex flex-col relative gap-8 py-12 px-8 lg:p-12 rounded-xl w-[100%] md:w-[500px]"
>
  <img
    src="/decorations/lines-red.svg"
    class="absolute w-20 -top-8 -left-8 lg:-top-10 lg:-left-10 -rotate-[40deg]"
    alt=""
  />
  <form
    action="https://formsubmit.co/1937754711cd4d3bfa7b5f01dc084911"
    method="POST"
  >
    <InputField type="text" id="name" name="name" label="Name" />
    <InputField type="email" id="email" name="email" label="Email" />
    <InputField
      type="text"
      id="contact"
      name="contact"
      label="Contact Number"
    />
    <InputField type="text" id="subject" name="subject" label="Subject" />
    <div class="relative mb-6">
      <textarea
        id="message"
        rows="4"
        name="message"
        class="w-full block p-4 rounded border border-gray-400 hover:border-black outline-blue-500 focus:ring-0 peer"
        placeholder=" "></textarea>
      <label
        for="floating_outlined"
        class="absolute top-2 left-2 text-md text-gray-600 duration-200 transform -translate-y-4 scale-75 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1 peer-placeholder-shown:top-[15%] peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
        >Message</label
      >
    </div>
    <div class="flex place-content-center">
      <button
        type="submit"
        class="text-white bg-gdsc-blue-dark hover:bg-[#2d6dd3] font-medium rounded mt-1 text-sm px-10 py-3"
      >
        SUBMIT
      </button>
    </div>

    <!-- Input Fields for formsubmit.co -->
    <input
      type="hidden"
      name="_next"
      value="https://gdscmpstme.com/contact-us"
    />
    <input type="hidden" name="_captcha" value="false" />
  </form>
</section>
