---
const { type, id, name, label } = Astro.props;
---

<div class="relative mb-6">
  <input
    type={type}
    id={id}
    name={name}
    class="w-full block p-4 rounded border border-gray-400 hover:border-black outline-blue-500 focus:ring-0 peer"
    placeholder=" "
    required
  />
  <label
    for="floating_outlined"
    class="absolute top-2 left-2 text-md text-gray-600 duration-200 transform -translate-y-4 scale-75 z-10 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-2/4 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4"
    >{label}</label
  >
</div>
