---
---

<section>
  <div>
    <p class="text-gdsc-blue text-lg font-medium">Queries or suggestions?</p>
    <h1 class="text-5xl font-bold mt-1.5 mb-4">Contact Us</h1>
    <p class="text-lg font-semibold">We're all ears! 👂</p>
  </div>
  <div class="mt-[2.2rem] flex flex-col">
    <a
      href="mailto:dsc.mpstme@nmims.edu.in"
      target="_blank"
      class="text-[#000] font-semibold flex py-[0.9rem] px-[1.1rem] border border-[#000] rounded items-center hover:bg-[#eef7fe] hover:text-[#396dc1] hover:border-[#396dc1]"
    >
      <img src="/icons/mail.svg" class="hover:fill-[#396dc1] mr-3" alt="" />
      dsc.mpstme@nmims.edu.in
    </a>
    <div class="flex justify-center gap-7 mt-7">
      <a
        href="#"
        class="w-14 h-14 place-items-center grid rounded-full hover:bg-[#498af4]"
        target="_blank"
      >
        <img src="/icons/twitter-grey.svg" alt="" />
      </a>
      <a
        href="#"
        class="w-14 h-14 place-items-center grid rounded-full hover:bg-[#bd3794] hover:fill-white"
        target="_blank"
      >
        <img src="/icons/instagram-grey.svg" alt="" />
      </a>
      <a
        href="#"
        class="w-14 h-14 place-items-center grid rounded-full hover:bg-[#0077b5]"
        target="_blank"
      >
        <img src="/icons/linkedin-grey.svg" alt="" />
      </a>
    </div>
  </div>
</section>
