---
import { Icon } from 'astro-icon';
---

<section>
  <div>
    <p class="text-lg font-medium text-gdsc-blue">Queries or suggestions?</p>
    <h1 class="mt-1.5 text-5xl font-bold">Contact Us</h1>
    <p class="mt-4 text-lg font-medium">We're all ears! 👂</p>
  </div>
  <div class="mt-9 flex flex-col">
    <a
      href="mailto:dsc.mpstme@nmims.edu.in"
      target="_blank"
      class="flex items-center rounded-md border border-black bg-gdsc-grey py-4 px-5 hover:border-[#396dc1] hover:text-[#396dc1]"
    >
      <Icon name="ic:outline-mail" class="mr-3 w-6" />
      <span class="font-medium">dsc.mpstme@nmims.edu.in</span>
    </a>
    <div class="mt-7 flex justify-center gap-6">
      <a
        href="https://twitter.com/gdsc_mpstme"
        class="grid h-14 w-14 place-items-center rounded-full text-gdsc-grey-dark hover:bg-[#498af4] hover:text-white"
        target="_blank"
      >
        <Icon name="mdi:twitter" class="w-6" />
      </a>
      <a
        href="https://instagram.com/gdsc.mpstme"
        class="grid h-14 w-14 place-items-center rounded-full text-gdsc-grey-dark hover:bg-[#bd3794] hover:text-white"
        target="_blank"
      >
        <Icon name="mdi:instagram" class="w-6" />
      </a>
      <a
        href="https://www.linkedin.com/company/google-developer-student-club-mpstme/"
        class="grid h-14 w-14 place-items-center rounded-full text-gdsc-grey-dark hover:bg-[#0077b5] hover:text-white"
        target="_blank"
      >
        <Icon name="dashicons:linkedin" class="w-6" />
      </a>
    </div>
  </div>
</section>
