---
import AchievementDetails from './AchievementDetails.astro';
import ProjectDetails from './ProjectDetails.astro';
---

<div class="bg-[#c8e6c9]">
  <div class="md:pb-12 md:pt-1 pt-10">
    <div class="container md:mx-auto max-sm:px-6">
      <div class="md:mt-5 xl:mx-52">
        <AchievementDetails />
        <ProjectDetails />
      </div>
    </div>
  </div>
</div>
