---
---

<div
  class="relative z-10 mx-auto flex w-10/12 max-w-5xl flex-col items-center gap-5 rounded-3xl bg-gdsc-purple-light px-6 py-10 md:flex-row"
>
  <div>
    <lottie-player
      autoplay
      loop
      mode="normal"
      loading="lazy"
      class="w-52 md:w-64"
      src="/lottie/medal.json"
    >
    </lottie-player>
  </div>
  <div>
    <h1
      class="mb-2 text-center text-4xl md:text-5xl font-bold text-gray-900 md:text-left"
    >
      Achievements & Projects
    </h1>
    <p class="mt-4 text-center text-gray-700 md:text-left">
      As a club, we have always strived to bring excellence in our work. The
      fruit of which comes through the winning different competitions that
      members of the GDSC have taken part in. Take a look at some of our most
      memorable wins!
      <br />
      Also, while you're at it check out snippets and more details about our projects,
      see their source-code and see what makes them unique!
    </p>
  </div>
</div>
