---
import { getProjects } from '../../utils/fetchData';

const projects = await getProjects();

import SectionHeading from '../SectionHeading.astro';
import ProjectCard from './ProjectCard.astro';
---

<section class="mx-auto mt-16 w-11/12 max-w-6xl">
  <SectionHeading
    section="Projects Archive"
    heading="Take a glance at few of our favourite Projects"
  />
  <div class="mt-14 flex max-w-full gap-5 md:gap-10 overflow-auto md:px-5 pb-5">
    {projects.map(project => <ProjectCard {...project} />)}
  </div>
</section>
