<div class="max-w-xs rounded-[24px] overflow-hidden bg-white border-[#ffebee] border-4 mt-6">
	
	<div class="p-5 text-right">
        <span
			class="inline-block bg-[#FBBF0E] rounded-full px-2 py-1 text-[13px] text-white mb-2"
			>💻 Learn More</span
		>
        <img class="mx-auto rounded-lg" src="https://firebasestorage.googleapis.com/v0/b/gdsc-website-47187.appspot.com/o/images%2Fprojects%2FCode%20Wars%20Competition%20Platform%2FProjectLogo_Code%20Wars%20Competition%20Platform.png?alt=media&token=000dba70-901a-4050-95b8-90b56edd1275" alt="logo" width="115px"/>
		<div class="font-bold text-xl mt-4 text-center">Code Wars Competition Platform</div>
		<p class="text-gray-700 text-base my-3 text-center">
			An online coding competition platform between multiple teams where the first to solve the problem wins the round.
		</p>
	</div>
	<div class="px-9 pb-5 text-center">
		<span
			class="inline-block bg-gray-200 rounded-full px-2 py-1 text-[13px] font-semibold text-gray-700 mb-2"
			>Aajinkya Singh</span
		>
		<span
			class="inline-block bg-gray-200 rounded-full px-2 py-1 text-[13px] font-semibold text-gray-700 mr-1 mb-2"
			>Pratit Bandiwadekar</span
		>
		<span
			class="inline-block bg-gray-200 rounded-full px-2 py-1 text-[13px] font-semibold text-gray-700 mr-1 mb-2"
			>Suvaditya Mukherjee</span
		>
        <span
			class="inline-block bg-gray-200 rounded-full px-2 py-1 text-[13px] font-semibold text-gray-700 mr-1 mb-2"
			>Ansh Malik</span
		>
        <span
			class="inline-block bg-gray-200 rounded-full px-2 py-1 text-[13px] font-semibold text-gray-700 mr-1 mb-2"
			>Rushabh Javeri</span
		>
	</div>
</div>
