---
---

<footer class="bg-white">
  <div class="grid grid-cols-6 gap-10 px-14 py-10">
    <img
      src="/images/gdsc-mpstme-logo.png"
      alt="GDSC MPSTME Logo"
      class="col-span-6 w-full max-w-xs justify-self-center lg:col-span-2"
    />
    <div class="col-span-6 md:col-span-3 lg:col-span-2 lg:w-4/5">
      <h3 class="text-xl font-bold">Find Us</h3>
      <hr class="my-3 border-black opacity-10" />
      <p class="my-3">
        Bhakthi Vendanth Swami Marg, Near Cooper Hospital, JVPD Scheme, Vile
        Parle West, Mumbai, Maharashtra 400056
      </p>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.9490427558144!2d72.83534735057921!3d19.10989128700502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9b888ae67fd%3A0xe0b9538d623ac5d2!2sMukesh%20Patel%20School%20Of%20Technology%20Management%20%26%20Engineering!5e0!3m2!1sen!2sin!4v1644225451335!5m2!1sen!2sin"
        width="100%"
        height="auto"
        class="border-none"
        allowfullscreen=""
        loading="lazy"
      >
      </iframe>
    </div>
    <div class="col-span-6 md:col-span-3 lg:col-span-2 lg:w-4/5">
      <h3 class="text-xl font-bold">Quick Links</h3>
      <hr class="my-3 border-black opacity-10" />
      <ul class="space-y-2">
        <!-- <li><a class="link" href="/events">Events</a></li> -->
        <li>
          <a class="link" href="/achievements">Achievements & Projects</a>
        </li>
        <li><a class="link" href="/team">Our Team</a></li>
        <li><a class="link" href="/contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <hr class="border-black opacity-10" />
  <p class="py-5 text-center">Google Developer Group, MPSTME</p>
</footer>

<style>
  .link {
    @apply font-medium text-gray-500 hover:text-blue-400;
  }
</style>
