---
import { Icon } from 'astro-icon';
---

<header>
  <!-- header for small screens -->
  <div
    class="flex items-center px-4 md:hidden"
    id="mobile-nav"
    data-nav-open="false"
  >
    <div class="grow">
      <button
        class="grid place-items-center rounded-full p-3 hover:bg-black hover:bg-opacity-5"
        id="menu-toggle"
      >
        <Icon name="mdi:menu" class="h-6" />
      </button>
    </div>
    <a href="/" class="relative -left-5 grow">
      <img src="/images/gdsc-logo.png" alt="GDSC Logo" class="h-20" />
    </a>
    <nav
      class="fixed top-0 left-0 z-50 flex h-full w-64 flex-col overflow-y-auto bg-white transition-all duration-300"
    >
      <img
        src="/images/gdsc-mpstme-logo.png"
        alt="GDSC MPSTME Logo"
        class="my-3 w-4/5 self-center"
      />
      <hr class="w-full bg-black" />
      <ul class="py-2">
        <!-- <li>
          <a href="/events" class="mobile-link">
            <Icon name="mdi:event" class="h-6" />
            <span>Events</span>
          </a>
        </li> -->
        <li>
          <a href="/achievements" class="mobile-link">
            <Icon name="mdi:school" class="h-6" />
            <span>Achievements & Projects</span>
          </a>
        </li>
        <li>
          <a href="/team" class="mobile-link">
            <Icon name="mdi:account-multiple" class="h-6" />
            <span>Our Team</span>
          </a>
        </li>
        <li>
          <a href="/contact-us" class="mobile-link">
            <Icon name="mdi:card-account-mail" class="h-6" />
            <span>Contact Us</span>
          </a>
        </li>
      </ul>
    </nav>
    <div
      id="screen-cover"
      class="fixed top-0 left-0 z-40 h-screen w-screen bg-black bg-opacity-40"
    >
    </div>
  </div>

  <!-- header for medium screens and above -->
  <div
    class="mx-auto hidden max-w-[1500px] items-center justify-between gap-5 px-6 py-3 md:flex"
  >
    <a href="/">
      <img
        src="/images/gdsc-mpstme-logo-horizontal.png"
        alt="GDSC MPSTME Logo"
        class="w-80 max-w-full"
      />
    </a>
    <nav>
      <ul class="flex items-stretch gap-1 font-medium text-gray-500">
        <!-- <li>
          <a class="link" href="/events">Events</a>
        </li> -->
        <li>
          <a class="link" href="/achievements">Achievements & Projects</a>
        </li>
        <li><a class="link" href="/team">Our Team</a></li>
        <li><a class="link" href="/contact-us">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .link {
    @apply rounded-[4px] p-2 text-center transition-colors duration-300 ease-in-out hover:bg-blue-500 hover:bg-opacity-5;
  }

  .mobile-link {
    @apply flex items-center gap-4 p-3 font-medium transition-colors hover:bg-gray-100;
  }

  nav [astro-icon] {
    color: #707070;
  }

  [data-nav-open='false'] nav {
    @apply -translate-x-full;
  }
  [data-nav-open='false'] #screen-cover {
    @apply hidden;
  }
</style>

<script>
  const mobileNavBar: HTMLDivElement = document.querySelector('#mobile-nav');
  const menuToggle: HTMLButtonElement = document.querySelector('#menu-toggle');
  const screenCover: HTMLDivElement = document.querySelector('#screen-cover');

  const openNavBar = () => {
    mobileNavBar.dataset.navOpen = 'true';
    document.body.classList.add('overflow-y-hidden');
  };

  const closeNavBar = () => {
    mobileNavBar.dataset.navOpen = 'false';
    document.body.classList.remove('overflow-y-hidden');
  };

  menuToggle.addEventListener('click', openNavBar);
  screenCover.addEventListener('click', closeNavBar);
  window.addEventListener('resize', closeNavBar);
</script>
