---
import { Icon } from 'astro-icon';
---

<header>
  <!-- header for small screens -->
  <div
    class="flex items-center px-4 md:hidden"
    id="mobile-nav"
    data-nav-open="false"
  >
    <div class="grow">
      <button
        class="p-3 rounded-full hover:bg-black hover:bg-opacity-5 grid place-items-center"
        id="menu-toggle"
      >
        <Icon name="mdi:menu" class="h-6" />
      </button>
    </div>
    <a href="/" class="grow relative -left-5">
      <img src="/images/gdsc-logo.png" alt="GDSC Logo" class="h-20" />
    </a>
    <nav
      class="fixed top-0 left-0 w-64 overflow-y-auto h-full bg-white z-50 flex flex-col transition-all duration-300"
    >
      <img
        src="/images/gdsc-mpstme-logo.png"
        alt="GDSC MPSTME Logo"
        class="w-4/5 my-3 self-center"
      />
      <hr class="bg-black w-full" />
      <ul class="py-2">
        <li>
          <a href="/events" class="mobile-link">
            <Icon name="mdi:event" class="h-6" />
            <span>Events</span>
          </a>
        </li>
        <li>
          <a href="/achievements" class="mobile-link">
            <Icon name="mdi:school" class="h-6" />
            <span>Achievements & Projects</span>
          </a>
        </li>
        <li>
          <a href="/team" class="mobile-link">
            <Icon name="mdi:account-multiple" class="h-6" />
            <span>Our Team</span>
          </a>
        </li>
        <li>
          <a href="/contact-us" class="mobile-link">
            <Icon name="mdi:card-account-mail" class="h-6" />
            <span>Contact Us</span>
          </a>
        </li>
      </ul>
    </nav>
    <div
      id="screen-cover"
      class="bg-black bg-opacity-40 fixed top-0 left-0 z-40 w-screen h-screen"
    >
    </div>
  </div>

  <!-- header for medium screens and above -->
  <div class="hidden md:flex items-center justify-between gap-5 px-6 py-3">
    <a href="/">
      <img
        src="/images/gdsc-mpstme-logo-horizontal.png"
        alt="GDSC MPSTME Logo"
        class="w-80 max-w-full"
      />
    </a>
    <nav>
      <ul class="flex items-stretch gap-1">
        <li>
          <a class="link" href="/events">Events</a>
        </li>
        <li>
          <a class="link" href="/achievements">Achievements & Projects</a>
        </li>
        <li><a class="link" href="/team">Our Team</a></li>
        <li><a class="link" href="/contact-us">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .link {
    @apply grid place-items-center h-full text-center rounded-[4px] text-gray-500 font-medium p-2;
    @apply hover:bg-opacity-5 hover:bg-blue-500 transition-colors duration-300 ease-in-out;
  }

  .mobile-link {
    @apply flex items-center gap-4 p-3 font-medium transition-colors hover:bg-gray-100;
  }

  nav [astro-icon] {
    color: #707070;
  }

  [data-nav-open='false'] nav {
    @apply -translate-x-full;
  }
  [data-nav-open='false'] #screen-cover {
    @apply hidden;
  }
</style>

<script>
  const mobileNavBar: HTMLDivElement = document.querySelector('#mobile-nav');
  const menuToggle: HTMLButtonElement = document.querySelector('#menu-toggle');
  const screenCover: HTMLDivElement = document.querySelector('#screen-cover');

  const openNavBar = () => {
    mobileNavBar.dataset.navOpen = 'true';
    document.body.classList.add('overflow-y-hidden');
  };

  const closeNavBar = () => {
    mobileNavBar.dataset.navOpen = 'false';
    document.body.classList.remove('overflow-y-hidden');
  };

  menuToggle.addEventListener('click', openNavBar);
  screenCover.addEventListener('click', closeNavBar);
  window.addEventListener('resize', closeNavBar);
</script>
