---

---

<div class="relative">
    <img class="mx-auto mb-10 w-4/5" src="./images/speaker-img.png" alt="">
    <div>
        <p class="text-red-500 font-bold">Mr. Krish Naik</p>
        <p class="text-sm mb-5">Founder and Teacher, iNeuron.ai</p>
        <p class="mb-10">Vitae ac, ultrices risus elementum quam massa fusce magna eget. Nulla ornare velit magna rhoncus erat. Dictum sollicitudin arcu cursus convallis fermentum senectus tristique odio. Sollicitudin sed in bibendum aliquet gravida netus at tellus. Vitae integer vehicula viverra morbi at. Justo, in egestas magna euismod nec sit.</p>
    </div>
    <img class=" -top-4 -z-10 absolute h-56" src="./decorations/speaker-decor-red.svg" alt="">
</div>