---
export interface Props {
  text?: string;
}

const { text = '{WIP}' } = Astro.props;
---

<div
  class="mx-auto my-5 grid h-screen w-11/12 place-items-center bg-purple-300"
>
  <span class="animate-pulse font-mono text-5xl font-bold text-purple-800">
    {text}
  </span>
</div>
