---
---

<div
  class="h-screen w-11/12 mx-auto my-5 bg-purple-300 grid place-items-center"
>
  <span class="text-5xl font-mono font-bold text-purple-800 animate-pulse">
    {'{WIP}'}
  </span>
</div>
