---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

export interface Props {
  title: string;
  description?: string;
  background?: string;
}

const {
  title,
  description = 'This is the official website for the Google Developer Student Club - NMIMS MPSTME, Mumbai',
  background = 'bg-white',
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class={`${background} min-h-screen flex flex-col`}>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  /* reusable classes containing common styles for various sections */
  .slant {
    clip-path: polygon(0 10vw, 100% 0, 100% 100%, 0 100%);
  }

  .gdsc-scrollbar {
    @apply scrollbar scrollbar-track-white scrollbar-thumb-gdsc-yellow scrollbar-track-rounded-md scrollbar-thumb-rounded-md scrollbar-h-[10px];
  }
</style>
